{
   "mnemonic": "test test test test test test test test test test test test",
   "infuraProjectId": "your infura project id",
   "etherscanApiKey": "your etherscan api key",
   "privateKey": "export your account private key from metamask, with some gas"
}
